<div class="container flex justify-center">
  <div class="row">
    <div class="col">
      <img src="img/1.jpeg" alt="ar" class="w-20 h-20 rounded-full border-2"/>
      <h1>Ar</h1>
      <p>Anonymus</p>
    </div>
  </div>
</div>
