<h1 class="text-3xl font-bold underline mb-2">Contact Me!</h1>
<form action="">
  <label for="nama">Nama : </label>
  <input type="text" name="nama" id="nama" class="border-2" required />
  <label for="email">Email : </label>
  <input type="text" name="email" id="emai" class="border-2" required />
  <button type="submit" class="bg-blue-400 p-2">Kirim</button>
</form>
