<div class="flex justify-center mt-10">
  <div class="row">
    <div class="col">
      <img src="img/1.jpeg" alt="ar" class="w-40 h-40 rounded-full border-2" />
      <div class="text-center mt-5">
        <h1 class="font-semibold text-2xl">Ar || arTech</h1>
      </div>
    </div>
  </div>
</div>
